<div class="container">

<footer class="footer">

<small>

Copyright <a href="https://github.com/vivekgouda/" target="_blank">SpecializeInfo Test Blog</a>

by <a href="https://github.com/vivekgouda/" target="_blank">Vivek Gouda</a>

</small>

<nav>

<ul>

<li><%= link_to "About", about_path %></li>

</ul>

</nav>

</footer>

</div>